body{
    background-color: #7B93AA;
    background-image: linear-gradient(rgba(48, 48, 134, 0.5), rgba(172, 172, 167, 0.5)),url('../../assets/image/Bg_admin.jpg');
    
    top: 0; 
    left: 0; 
   
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
 }
 .navbar
{
    
width: 1680px;
height: 70px;

  
background: #2d1b58;
border: 1px solid #000000;
box-sizing: border-box;
margin-bottom: 50px;

}
.navbar-nav
{
    margin-left: 160px;
    flex-direction: row;
}
.nav-link{
   font-family:Arial, Helvetica, sans-serif, Georgia, Times, 'Times New Roman', serif;
    
    margin-right: 250px;
    
   font-size: medium;
}
 #input-box{
     margin-bottom: 20px;
     margin-top: 50px;
     border-radius: 15px;
     padding: 25px;
     height: 40px;
     width: 400px;
 }
 .rightpic
 {
   margin-top: 50px;
   margin-bottom: 20px;
   height: 80px;
   width: 400px;
 }
 /*#div-add-theme{
   display: flex;
   justify-content: flex-end;
   height: 100vh;
   align-items: flex-end;
 }
 #bt-add-theme{
   background: #242053;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 filter: blur(4px);
 border-radius: 20px;
 }*/
 #bt1{
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 #bt1:after {
   content: '+';
   position: absolute;
   opacity: 0;  
   top: 5px;
   right: -20px;
   transition: 0.5s;
 }
 #bt1:hover{
   padding-right: 24px;
   padding-left:8px;
 }
 #bt1:hover:after {
   opacity: 1;
   right: 10px;
 }
 #anchor::after{
   content: '';
   display: block;
   width: 0%;
   height: 2px;
   background-color: white;
   transition: width .3;
 }
 #anchor:hover::after{
   width: 100%;
   transition: width .3s;
 }
 .image
{
    height: 80px;
    width: 80px;
}